@import url("reset.css");

@font-face {
	font-family: fraunces;
	src: url("/assets/fonts/FRAUNCES_144PT-SEMIBOLD.TTF");
}

@font-face {
	font-family: manrope;
	src: url("/assets/fonts/Manrope-VariableFont_wght.ttf");
}

:root {
	--background-main: #fff;
	--background-sec: #fcf8ff;
	--primary: #24053e;
	--asset: #44ffa1;
	--text-color: #584d62;
	--font-heading: fraunces, serif;
	--font-body: manrope, sans-serif;
}

body {
	background: var(--background-sec);
	display: grid;
	place-items: center;
}

.top {
	background: var(--primary);
	width: 100%;
	border-bottom-left-radius: 70% 10%;
	border-bottom-right-radius: 70% 10%;
	padding: 2rem 1rem 0;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header__link {
	font-family: var(--font-body);
	font-size: 1rem;
	font-weight: bold;
	color: var(--background-main);
	line-height: 2;
	border-bottom: #44ffa1 solid 3px;
}

.page-hero {
	text-align: center;
	margin-top: 4rem;
	display: grid;
	gap: 2.5rem;
}

.page-hero__image {
	width: 320px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

.page-hero__title {
	font-family: var(--font-heading);
	font-size: 3.125rem;
	font-weight: 600;
	line-height: 1.15;
	color: var(--background-main);
	width: 90%;
}

.title__underlined {
	border-bottom: #44ffa1 solid 3px;
}

.button {
	padding: 0.75rem 1.5rem;
	background-color: var(--asset);
	justify-self: center;
	font-family: var(--font-body);
	font-weight: bold;
	color: var(--primary);
}
