@import url("reset.css");

@font-face {
	font-family: fraunces;
	src: url("/assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
	font-family: manrope;
	src: url("/assets/fonts/Manrope-VariableFont_wght.ttf");
}

:root {
	--background-main: #fff;
	--background-sec: #fcf8ff;
	--primary: #24053e;
	--asset: #44ffa1;
	--text-color: #584d62;
	--font-heading: fraunces, serif;
	--font-body: manrope, sans-serif;
}

body {
	background: var(--background-sec);
	display: grid;
	place-items: center;
}

.top {
	background: var(--primary);
	height: 30vh;
	width: 100%;
	border-bottom-left-radius: 50% 10%;
	border-bottom-right-radius: 50% 10%;

	/* position: relative; */
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-hero {
	text-align: center;
}

/* .page-hero__image {
	width: 320px;
} */
